<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<title>Staff_Home</title>
</head>

<body>
<button class="tablink" onclick="location.href='/home_stf'">Home</button>
<button class="tablink" onclick="location.href='/view_flights_stf'">view_flights</button>
<button class="tablink" onclick="location.href='/manage_flights'">manage_flights</button>
<button class="tablink" onclick="location.href='/manage_airplane'">manage_airplane</button>
<button class="tablink" onclick="location.href='/manage_airport'">manage_airport</button>
<button class="tablink" onclick="location.href='/logout'">Log Out</button>

</body>
</html>