<html>
    <head>
        register
    </head>
    <body>

    <form action="/registerAuth" method="post">
    <input placeholder="Write a username" name="username" required></input>
    <input placeholder="Write a password" name="password" required></input>
    <input placeholder="Write a type_user" name="type_user" required></input>
    <input placeholder="Write a phone_nums" name="phone_nums" required></input>

    <button type="submit">Add</button>
    </form>

    </body>
</html>

